<!-- Resources -->

<h2>Home</h2>
<p>Where do you wanna go?</p>

<div *ngIf="user" class="card-container form-bg">
  <h2 style="color: white">User Information</h2>
  <p>Name: {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
</div>
<br />
<div class="card-container form-bg">
  <mat-form-field appearance="fill">
    <mat-label>Origin</mat-label>
    <input matInput name="origin" formControlName="origin" required />
    <mat-error *ngIf="origin.errors">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Destination</mat-label>
    <input matInput name="destination" formControlName="destination" required />
    <mat-error *ngIf="destination.errors">You must enter a value</mat-error>
  </mat-form-field>

  <button mat-button color="primary">Submit</button>
</div>
